In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('C:/Users/Arpita/Desktop/Assignment/COVID/covid_19_data_2.csv')
data

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   228329 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

In [4]:
data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [5]:
cm = sns.light_palette("green", as_cmap=True)
data.head(10).style.background_gradient(cmap=cm)

In [6]:
pd.DataFrame(data.nunique()).style.background_gradient(cmap=cm)

In [7]:
data.drop('Last Update', axis=1, inplace=True)

data.set_index('SNo', inplace=True)

data.head()

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
SNo,,,,,,
1,01/22/2020,Anhui,Mainland China,1.0,0.0,0.0
2,01/22/2020,Beijing,Mainland China,14.0,0.0,0.0
3,01/22/2020,Chongqing,Mainland China,6.0,0.0,0.0
4,01/22/2020,Fujian,Mainland China,1.0,0.0,0.0
5,01/22/2020,Gansu,Mainland China,0.0,0.0,0.0

In [8]:
china_data = data['Country/Region'] == 'Mainland China'
covid_china_data = data[china_data]
covid_china_data.head(10)

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
SNo,,,,,,
1,01/22/2020,Anhui,Mainland China,1.0,0.0,0.0
2,01/22/2020,Beijing,Mainland China,14.0,0.0,0.0
3,01/22/2020,Chongqing,Mainland China,6.0,0.0,0.0
4,01/22/2020,Fujian,Mainland China,1.0,0.0,0.0
5,01/22/2020,Gansu,Mainland China,0.0,0.0,0.0
6,01/22/2020,Guangdong,Mainland China,26.0,0.0,0.0
7,01/22/2020,Guangxi,Mainland China,2.0,0.0,0.0
8,01/22/2020,Guizhou,Mainland China,1.0,0.0,0.0
9,01/22/2020,Hainan,Mainland China,4.0,0.0,0.0
10,01/22/2020,Hebei,Mainland China,1.0,0.0,0.0

In [32]:
China_Data = data['Country/Region'] == 'Mainland China'   
covid_china_data = data[China_Data]                       
covid_china_data.head(10)

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
SNo,,,,,,
1,01/22/2020,Anhui,Mainland China,1.0,0.0,0.0
2,01/22/2020,Beijing,Mainland China,14.0,0.0,0.0
3,01/22/2020,Chongqing,Mainland China,6.0,0.0,0.0
4,01/22/2020,Fujian,Mainland China,1.0,0.0,0.0
5,01/22/2020,Gansu,Mainland China,0.0,0.0,0.0
6,01/22/2020,Guangdong,Mainland China,26.0,0.0,0.0
7,01/22/2020,Guangxi,Mainland China,2.0,0.0,0.0
8,01/22/2020,Guizhou,Mainland China,1.0,0.0,0.0
9,01/22/2020,Hainan,Mainland China,4.0,0.0,0.0
10,01/22/2020,Hebei,Mainland China,1.0,0.0,0.0

In [36]:
data2excel = pd.ExcelWriter('covid_dataR.xlsx')


covid_china_data.to_excel(data2excel)


data2excel.save()
print('DataFrame is written to Excel File successfully.')

C:\Users\Arpita\AppData\Local\Temp\ipykernel_9792\1751202269.py:7: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  data2excel.save()

DataFrame is written to Excel File successfully.

In [42]:
data_modified = pd.read_excel('C:/Users/Arpita/Desktop/Assignment/covid_dataR.xlsx')

In [43]:
data_modified

,SNo,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1,0,0
1,2,01/22/2020,Beijing,Mainland China,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1,0,0
4,5,01/22/2020,Gansu,Mainland China,0,0,0
...,...,...,...,...,...,...,...
15753,306341,05/29/2021,Tibet,Mainland China,1,0,1
15754,306369,05/29/2021,Unknown,Mainland China,0,0,10
15755,306413,05/29/2021,Xinjiang,Mainland China,980,3,977
15756,306421,05/29/2021,Yunnan,Mainland China,352,2,331
15757,306427,05/29/2021,Zhejiang,Mainland China,1364,1,1324